.container {
  display: flex;
  gap: 20px;
  .colorBox {
    display: flex;
    &.active {
      outline: 2px solid rgb(190, 190, 190);
      outline-offset: 2px;
    }
    .col {
      width: 30px;
      height: 30px;
    }
  }
}
