.button {
  padding: 0.5rem 1rem;
  background-color: rgb(59, 59, 59);
  color: white;
  border-radius: 6px;
  width: min-content;
  white-space: nowrap;
  transition: all 300ms ease;
  &:hover {
    cursor: pointer;
    background-color: var(--color-pink);
  }
}
