html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}
.red {
  color: red;
}
.justify-start {
  border: 2px solid pink;
  justify-content: flex-start !important;
}
.review-right-enter {
  transform: translateX(-100%);
}
.review-right-enter-active {
  transform: translateX(0);
  transition: all 300ms ease;
}

.review-left-enter {
  transform: translateX(100%);
}
.review-left-enter-active {
  transform: translateX(0);
  transition: all 300ms ease;
}
.nav-enter {
  transform: translateX(-100%);
}
.nav-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}
.nav-enter-done {
}
.nav-exit {
}
.nav-exit-active {
  transform: translateX(-100%);
  transition: all 500ms ease-in;
}
.nav-exit-done {
}
.bg-enter {
  opacity: 0;
}
.bg-enter-active {
  opacity: 1;
  transition: all 500ms ease;
}
.bg-enter-done {
}
.bg-exit {
}
.bg-exit-active {
  opacity: 0;
  transition: all 500ms ease-in;
}
.bg-exit-done {
}
.scroll-up-button-enter {
  opacity: 0;
  transform: translateY(calc(5vh + 100%));
}
.scroll-up-button-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease;
}

.scroll-up-button-exit-active {
  opacity: 0;
  transform: translateY(calc(5vh + 100%));
  transition: all 300ms ease-in;
}
