.review {
  border: 2px solid orange;
  background-color: white;
  height: 352px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  .image {
    img {
      height: 100px;
      width: 100px;
      object-position: center;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .icon {
    margin: 2rem;
  }
  .text {
    margin: 1rem;
  }
  .name {
  }
}
